/* 
	This file describes the where any information will be disposed
	on the VHL website.
*/

.container {
	position: relative;
	margin: 0px auto;
}

.level2 .container {
	position: relative;
	width: 760px;
	margin: 0px auto;
}

.bar {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 50%;
	padding-top: 2px;
}

.bar #otherVersions, .bar #contact {
	display: inline;
	margin-right: 10px;
}

#contact A {
	padding-left: 20px;
	padding-bottom: 2px;
}

.top {
	height: 110px;
	clear: both;
}

.top #parent {
	width: 217px;
	margin: 0px auto;
}

.top #identification {
	display: none;
}

.middle {
	/*
	position: relative;
	*/
	padding: .5%;
	clear: both;
}

.middle .firstColumn {
	float: left;
	width: 20%;
}

.middle .secondColumn {
	float: left;
	width: 50%;
	margin-left: .3em;
	margin-right: .3em;
}

.middle .thirdColumn {
	float: left;
	width: 28%;
}

.middle .centerLeftColumn {
	float: left;
	width: 56.2%;
	margin-right: .3em;
}

.middle .centerRightColumn {
	float: right;
	width: 42.5%;
}

.middle .secondColumn #search {
	width: 100%;
}

.bottom, level2 #footNotes {
	clear: both;
	width: 100%;
	margin: 12px auto;
	margin-bottom: 0px;
}

/* Cascading definitions #Start */
.firstColumn DIV, .secondColumn .centerLeftColumn DIV, .secondColumn .centerRightColumn DIV, .thirdColumn DIV, #search, #searchConcepts, .level2 .middle DIV {
	padding-bottom: 10px;
	margin-bottom: .3em;
}

.firstColumn DIV H3, .secondColumn DIV H3, .thirdColumn DIV H3, #search H3, #searchConcepts H3, .level2 .middle DIV H3 {
	margin: 0px;
	padding: 5px;
}

.firstColumn DIV H3 SPAN, .secondColumn DIV H3 SPAN, .thirdColumn DIV H3 SPAN, #search H3 SPAN, #searchConcepts H3 SPAN, .level2 .middle DIV H3 SPAN {
	display: block;
	padding-left: 3px;
}

.firstColumn DIV H3 SPAN A, .secondColumn DIV H3 SPAN A, .thirdColumn DIV H3 SPAN A, #search H3 SPAN A, #searchConcepts H3 SPAN A, .level2 .middle DIV H3 SPAN A {
	text-decoration: none;
}

.firstColumn DIV H3 SPAN A:hover, .secondColumn DIV H3 SPAN A:hover, .thirdColumn DIV H3 SPAN A:hover, #search H3 SPAN A:hover, #searchConcepts H3 SPAN A:hover, .level2 .middle DIV H3 SPAN A:hover {
	text-decoration: underline;
}

.firstColumn DIV UL, .secondColumn DIV UL, .thirdColumn DIV UL {
	margin: 8px;
	padding: 8px;
}

.firstColumn DIV UL UL, .secondColumn DIV UL UL, .thirdColumn DIV UL UL {
	margin-top: 0px;
	padding-top: 0px;
}

.webServices DIV, .generic DIV, #about DIV {
	padding: 5px 10px 5px 5px;
}

.generic DIV {
	padding-top: 0px !important;
}

/* Cascading definitions #End */

#search FORM {
	padding: 10px;
}

HTML>BODY #search { /* Mozilla exclusive definitions */

}

HTML>BODY .level2 #search { /* Mozilla exclusive definitions */

}

#search .expression {
	width: 65%;
}

#search .searchItens {

}

HTML>BODY #search .searchItens {

}

.level2 #search .searchItens {

}

.level2 #search UL {
	margin: 10px 0px 0px 10px;
	padding: 0px;
}

.level2 #search LI {	
	margin-bottom: 10px;
}

.level2 #search LI LI {
	width: 80%;
	margin-bottom: 5px;
}

.bottom #footNotes, level2 #footNotes {
	padding: 8px;
}

.bottom #footNotes P, .level2 #footNotes P {
	margin: 0px;
}

.bottom #footNotes UL, level2 #footNotes UL {
	padding: 0px;
	margin: 12px 0px 0px 0px;
}

.bottom #footNotes LI, .level2 #footNotes LI {
	display: inline !important;
	padding: 12px;
}

.level2 .middle #contact A {
	padding: 0px;
}

.level2 #contact .name, .level2 #contact .from, .level2 #contact .message {
	width: 200px;
}

.level2 #contact .message {
	height: 50px;
}

.level2 .content {
	float: left;
	width: 70%;
	padding: 5px 5px 5px 15px;
}

.level2 .serviceColumn {
	float: right;
	width: 25%;
}

.level2 H4  {

	margin-bottom: 5px;
}

.level2 H5 {
	margin: 0px;
}

.level2 #breadCrumb {
	padding: 5px 5px 5px 15px;
	clear: both;
}

.level2 .pages {
	width: 75%;
	text-align: right;
}

.level2 .description, .level2 .portal {
	display: inline;
}

.level2 .content UL LI {
	list-style: square;
	margin-bottom: 8px;
}

.level2 .webServices, .level2 .generic, .level2 #about {
	float: left;
	margin: 10px;
	clear: both;
	width: 200px;
}

.level2 .articleList DIV .articleHeader {
    width: 100%;
}

.level2 .articleList .count {
    float: left;
    width: 49%;
    padding: 0px;
    font-size: 90%;
    font-weight: bold;    
}

.level2 .articleList .collection {
    float: right;
    width: 50%;
    padding: 0px;
    text-align: right;
    font-size: 90%;
    font-weight: bold;
}

/* MetaIAH Pop-up styles */
#popUp {
	margin: 20px 5px 5px 5px;
}

.copyright{
	clear: both;
	margin: 0px auto;
	padding: 5px;
}

/* Form */

.form {
	padding: 0px 10px 15px 20px;
}

.form FORM TABLE TD{
	padding: 0px 5px 10px 0px;
}

/* classes for Collexis */

#center {
	float: left;
	width: 75%;
}

#right {
	float: left;
	width: 23%;
}

.documentBox {
	background: #ccc;
	padding: 6px;
	border: 1px solid;
}
