# llenar cada linea con ID_DEL_PRESUPUESTO EJ. PRES0001, ESPACIO, VALOR RECIBIDO CON PUNTO PARA LAS CASAS DECIMALES, ESPACIO, FECHA ISO DEL RECIBIMIENTO DEL PRESUPUESTO
1 10.00 20090706
2 25.00 20090706
