BODY {
    font-family : Verdana, Arial, Helvetica, sans-serif;
    font-size : 10pt;
    font-weight : normal;
    font-style : normal;
}

P {
    font-family : Verdana, Arial, Helvetica, sans-serif;
    font-size : 10pt;
}

TABLE {
    font-family : Verdana, Arial, Helvetica, sans-serif;
    font-size : 10pt;
    font-weight : normal;
    font-style : normal;
}
.issn { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold }
.rodape {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #000080; font-style: italic}
.rodapep { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #000080 ; font-style: normal}
.titulo {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12pt; font-style: normal; font-weight: bold; color: #800000}
.subtitulo { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; font-style: normal; font-weight: bold; color: #800000 }
TD { font-family : Verdana, Arial, Helvetica, sans-serif; font-size : 10pt; font-weight : normal; font-style : normal; }
b {  font-weight: bold}
