#scieloLogo {
	background: url(../../image/en/fbpelogp.gif) no-repeat;
	width: 110px;
	height: 57px;
	float: left;
	margin-right: 20px;
	margin-top: 0px;
}

#scieloLogo A {
	display: block;
	width: 110px;
	height: 57px;
}

#scieloLogo SPAN {
	display: none;
}

.navigation DIV#issues, .navigation DIV#articles, .navigation DIV#articlesSearch, .navigation DIV#journalNavigation {
	float: left;
	margin-right: 10px;
}

.navigation DIV DIV {
	width: auto;
}

.navigation DIV#journalNavigation {
	padding-top: 25px;	
}

#toolBox {
	font-family: arial;
	font-size: 85%;
	border: 1px solid #900;
	background: #F9F9F9;
	padding: 8px;
	margin: 0px 0px 20px 20px;
}

#toolsSection {
	color: #900;
	font-weight: bold;
	font-size: 100%;
	padding-bottom: 4px;
	margin-top: 5px;
	border-bottom: 1px solid #BE9595;
}

#toolBox UL {
	list-style: none;
	padding: 0px;
	margin: 10px 0px 0px 0px;
}

#toolBox UL UL {
	list-style: none;
	padding: 0px;
	margin: 0px 0px 0px 28px;
	font-size: 95%;
}

#toolBox LI {
	margin-bottom: 5px;
}

#toolBox UL UL LI {
	margin-bottom: 2px;
}

#toolBox A {
	color: #000;
	text-decoration: none;
}

#toolBox A:hover {
	text-decoration: underline;
}

#toolBox IMG {
	margin-right: 5px;
	vertical-align: middle;
}

.content {
	border-bottom: 1px solid #8D8D8D;
}

.content H2 {
	font-weight: normal;
	font-size: 140%;
	color: #000080;
	margin: 0px;
}

.content H2#printISSN {
	font-weight: normal;
	font-size: 90%;
	margin: 0px;
}

.content H3 {
	font-family: times;
	color: #800000;
	font-size: 110%;
}

.content H4 {
	font-size: 98%;
	margin-bottom: 5px;
	font-weight: normal;
	color: #800000;
}

HTML>BODY .content H4 {
	font-size: 110%;
}

.content H4#doi {
	font-weight: normal;
	font-size: 80%;
	margin: 0px;
}

#author {
	font-weight: bold;
	margin: 0px;
}

#affiliation {
	font-size: 90%;
	margin: 0px;
}

.articleLinks LI {
	display: inline;
	margin-right: 20px;
	font-size: 95%;
	
}

.footer {
	text-align: center;
	font-size: 90%;
	font-weight: bold;
	color: #000080;
}

.email {
	font-weight: normal;
	color: #000080;
}

.popUp {
	margin: 0px;
	border-top: 7px solid #990000;
	font-size: 75%;
}

.popUp .container {
	width: 95% !important;
	padding: 10px;
}

.popUp H5 {
	color: #990000;
}

.popUp H6 {
	font-size: 90%;
	border-bottom: 1px solid #EEE;
	margin-bottom: 3px;
}

.popUp .close {
	position: absolute;
	right: 10px;
	top: 10px;

}

.popUp .close A {
	color: black;
}

body {
	margin: 0px;
	padding: 0px;
	margin-top: 25px;
	background: url(/img/scieloBarBG.gif) top repeat-x;
}

.scielo10bar {
	width: 100%;
	height: 23px;
	xbackground: url(/img/scieloBarBG.gif) bottom repeat-x;
	margin: 0px;
	padding: 0px;
	padding-top: 2px;
	position: absolute;
	top: 0px;
	display: block;
}

.scielo10bar DIV {
	width: 760px;
	margin: 0 auto;
}


.scielo10bar UL {
	list-style: none;
	margin: 0px;
	padding: 0px;
	height: 25px;
	text-align: right;
}

.scielo10bar UL LI {
	display: inline;
	margin-right: 20px;
	vertical-align: center;
}

.scielo10bar UL LI A {
	text-decoration: none;
	font-family: verdana;
	font-size: 7.5pt;
	color: #990000;
	font-weight: bold;
}

.scielo10bar UL LI img {
	border: none;
	vertical-align: bottom;
}

.scielo10bar UL LI span {
	;
}
