
@import "screen/general.css";
@import "screen/layout.css";
@import "screen/styles.css";


BODY {
    font-family : Verdana, Arial, Helvetica, sans-serif;
    font-size : 10pt;
    font-weight : normal;
    font-style : normal;
}

P {
    font-family : Verdana, Arial, Helvetica, sans-serif;
    font-size : 10pt;
}

TABLE {
    font-family : Verdana, Arial, Helvetica, sans-serif;
    font-size : 9pt;
    font-weight : normal;
    font-style : normal;
}

a {
    font-family : Verdana, Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size : 9pt;
    font-weight : normal;
    font-style : normal;
}

a.email {
    font-family : Verdana, Arial, Helvetica, sans-serif;
    font-size : 9pt;
    font-weight : normal;
    font-style : normal;
    text-decoration:underline;   
    color: blue;
}

td.section {
    font-family : Verdana, Arial, Helvetica, sans-serif;
    font-weight : bold;	
    font-size : 11pt;
}

p.nomodel {
    font-family : Verdana, Arial, Helvetica, sans-serif;
}

TD {
    font-family : Verdana, Arial, Helvetica, sans-serif;
}
TD.isoref {
    font-family : Verdana, Arial, Helvetica, sans-serif;
    font-size : 9pt;
}
	  
font.normal {
    font-family : Verdana, Arial, Helvetica, sans-serif;
    font-size : 10pt;
}

font.negrito {
    font-family : Verdana, Arial, Helvetica, sans-serif;
    font-weight : bold;
}

font.nomodel {
    font-family : Verdana, Arial, Helvetica, sans-serif;
    font-weight : normal;
    font-style : normal;
}

font.divisoria {
    font-family : Verdana, Arial, Helvetica, sans-serif;
    font-weight : normal;
    font-size : 4pt;
}

FONT.linkado {
    font-family : Verdana, Arial, Helvetica, sans-serif;
    font-size : 9pt;
    font-weight : normal;
    font-style : normal;
}

font.linkado {
    font-family : Verdana, Arial, Helvetica, sans-serif;
    font-size : 9pt;
    font-weight : normal;
    font-style : normal;
}

BODY.isoref {
font-family : Verdana, Arial, Helvetica, sans-serif;
text-decoration: none;
font-size:8pt;
}
font.title { font-size:10pt }
font.subtitle {font-size:9pt }

font.isoref {
    font-family : Verdana, Arial, Helvetica, sans-serif;
    font-size : 9pt;
}

a.isoref {
font-family : Verdana, Arial, Helvetica, sans-serif;
text-decoration: none;
font-size:8pt;
}


/* RSS */
A.rss {
	background: url(../img/feed.gif) no-repeat;
	display: block;
	width: 16px;
	height: 16px;
	margin-bottom: 6px;
}

.rss SPAN {
	display: none;
}



body {
	margin: 0px;
	padding: 0px;
	margin-top: 25px;
	background: url(/img/scieloBarBG.gif) top repeat-x;
}

.scielo10bar {
	width: 100%;
	height: 23px;
	xbackground: url(/img/scieloBarBG.gif) bottom repeat-x;
	margin: 0px;
	padding: 0px;
	padding-top: 2px;
	position: absolute;
	top: 0px;
	display: block;
}

.scielo10bar DIV {
	width: 760px;
	margin: 0 auto;
}


.scielo10bar UL {
	list-style: none;
	margin: 0px;
	padding: 0px;
	height: 25px;
	text-align: right;
}

.scielo10bar UL LI {
	display: inline;
	margin-right: 20px;
	vertical-align: center;
}

.scielo10bar UL LI A {
	text-decoration: none;
	font-family: verdana;
	font-size: 7.5pt;
	color: #990000;
	font-weight: bold;
}

.scielo10bar UL LI img {
	border: none;
	vertical-align: bottom;
}

.scielo10bar UL LI span {
	;
}
