@charset "utf-8";

.container {
	width: auto;
	max-width: 760px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
/*Títulos do artigo*/
.title{
	font-size: 16pt;
	font-weight: bold;
}

/*Titulo traduzido do artigo*/
.trans-title{
	font-size: 14pt;
	margin-top: 80px;
	margin-bottom: 80px;
}

/*Formatação do grupo de autores*/
.autores{
	margin-bottom: 25px;
	font-weight: bold;
}

.aff{
	margin: 0px;
}





/*Seção do artigo*/
/*Talvez seja desnecessário essa informação*/
.categoria{
	text-align: right;
	text-transform: uppercase;
}





/*Formata as notas do autor*/

.author-note{
	padding-top: 5px;
	
}
/*Notas dos autores*/
.fn-author {
	margin-top: 50px;
}

.fn-author-p{
	padding: 0px;
	margin-top: 5px;
	margin-bottom: 0px;
}



.foot-notes {
	padding-top: 20px
}

/*Licença do artigo*/
.lic{
	font-size: 13px;
	font-style: italic
}

.corresp {
	font-style: italic
}
/*Caption de Tabelas e Imagens*/
.fn {
	margin: 0;
	font-style: italic
}
.history {
   font-style: italic
}



/*Título das Seções*/
.sec{
	/* clear:both; */
	font-size: 15pt;
	border-bottom: #CCC double thick;
	margin-top: 45px;
	font-weight: bold;
	text-transform: uppercase;
}
	
/*Título das Subseções do artigo*/
.subsec{
	font-size: 12pt;
	margin-bottom: 0px;
	font-weight: bold;
}

/*Título das Subseções do artigo*/
.sub-subsec{
	font-size: 11pt;
	font-weight: bold;
}

/*Sig Block*/
.sig{
	text-align: right;
}

/*Tirar estilo da lista*/
.list-none{
	list-style: none;
}


/*DIV da imagem*/
.xref-img, .xref-tab{
	width: auto;
	border: groove;
	border-color: transparent;
	padding: 20px;
	text-align: center;
}

.xref-img:hover, .xref-tab:hover{
	border: groove;
	border-color: #09F;
}
/*Figura*/
.thumbnail{
	width: auto;
	max-width: 60px

}
.label_caption {
	text-align: center;
	padding: 20px;

}
.label {
	font-weight: bold;
}
.figure{

	
    width: auto;
    text-align: center;
}

.graphic{
	margin: 0 auto;
	
    width: auto;
    max-width:600px;
	
}

.tab-tooltip{
	width:100%;
	background: #FFF;
}





.xref-div-img{
	width: auto;
	max-width: 600px;
	float: left;
}




/*Estilo para os tooltips(vem com o código da biblioteca do jquery)*/
.stickytooltip{
	box-shadow: 5px 5px 8px #818181; /*shadow for CSS3 capable browsers.*/
	-webkit-box-shadow: 5px 5px 8px #818181;
	-moz-box-shadow: 5px 5px 8px #818181;
	display:none;
	position:absolute;
	display:none;
	border: 1px double #CCC ; /*Border around tooltip*/
	background:white;
	z-index:3000;
}


.stickytooltip .stickystatus{ /*Style for footer bar within tooltip*/
	background: white;
	color:  #000;
	padding-top: 3px;
	text-align:center;
	font:bold 8pt Verdana, Geneva, sans-serif;
}



/*Classes '.atip' são referentes as miniaturas*/
.atip{
	padding: 0;
	font-size: 9pt;
	background: 	#9F6;
}

.xref-img-tooltip, .xref-tab-tooltip{
	padding: 0px;
	width: auto;
	max-width: 580px;
}

.stickytooltip div{
	background: #E9E9E9;
}



.xref-fn{
	width: 200px;
}

.xref-autornote{
	margin: 0px;
	width: auto;
	max-width: 330px;
	padding: 0;
}

.xref-ref{
	width: auto;
	max-width: 300px;
}