@charset "utf-8";


.sec {
	/* clear:both; 
	font-size: 15pt;*/
	/* border-bottom: #CCC double thick; */
	margin-top: 40px;
	font-weight: bold;
	font-size: 120%;
	text-transform: uppercase;	
}

.sub-subsec{
    padding-top: 10px;
	font-size: 100%;
	font-weight: bold;
}
.table_thumbnail {
    padding-top: 25px;
    border-top: 1px solid;
	min-height: 90px;
	padding-bottom: 25px;
}
.td_thumbnail {
    vertical-align: top;
    
}
.td_label_caption {
    text-align: justify;
	vertical-align: top;	
}
.thumbnail{
	width: 120px;
	max-height: 75px;
	vertical-align: top;
}

.label_caption {
	font-size: 90%;
	vertical-align: top;
}
.caption {
	text-align: justify;
}
.label {
	font-weight: bold;
}

.formula {
	padding: 25px;
    width: auto;
    max-height: 40px;
    display: inline;
	
}

.graphic {
	padding: 25px;
    width: auto;
    max-width: 600px;
	
}

.inline-graphic{
	display: inline;
    width: auto;
    
    max-height: 40px;
	
}

.xref-img, .xref-tab, .figure, .table-wrap {
	width: auto;
	border-color: transparent;
	padding-top: 10px;
	padding-bottom: 10px;
	
}

#article-footer {
    display: none;
    }
    
.foot-notes {
	padding-top: 20px;
	padding-bottom: 40px;

}