@charset "utf-8";

.categoria{
    text-align: right;
    text-transform: uppercase;
    font-weight: bold;
}

/*Títulos do artigo*/
.title{
    /* font-size: 16pt; */
    font-weight: bold;
    font-size: 135%;
}

/*Titulo traduzido do artigo*/
.trans-title{
    font-size: 120%;
    margin-top: 80px;
    margin-bottom: 80px;
    font-weight: bold;
}

.abstract .sec, .trans-abstract .sec {
    text-transform: uppercase;
    margin-top: 10px;
}
.abstract {
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin-top: 45px;
    font-size: 97%;
}
.trans-abstract {
    border-bottom: 1px solid;
    margin-top: 45px;
    font-size: 97%;
}
.sec {
    /* clear:both; 
    font-size: 15pt;*/
    /* border-bottom: #CCC double thick; */
    margin-top: 40px;
    font-weight: bold;
    font-size: 120%;
    text-transform: uppercase;  
}

.sub-subsec{
    padding-top: 10px;
    font-size: 100%;
    font-weight: bold;
}

/*Título das Subseções do artigo*/
.subsec{
    font-size: 110%;
    margin-bottom: 0px;
    font-weight: bold;
}

/*Título das Subseções do artigo*/
.sub-subsec, .subsection-title {
    font-size: 100%;
    font-weight: bold;
}
.table {
    font-family: Helvetica,sans-serif;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    min-width: 95%;
    margin: 0 auto;
}


.thead{display:table-header-group; border-color:black; vertical-align:middle; border-bottom: 1px solid black; border:black; text-align:center;}

.thead td, th{border-bottom: 1px solid black; border-top: 1px solid black;}

.tbody{display: table-row-group; border-color:black; vertical-align:middle; border-bottom: 1px solid black; text-align:center; font-size: 15pt;}

.tbody td, tr:last-child{border-bottom: 1px solid black;}

.td {
    font-size: 8pt;
        border-spacing: 20pt;
        border-color: black;
        border-bottom: 1px solid black;
}

.col {
    display: table-column
}

.colgroup {
    display: table-column-group
}

.tfoot {
    display: table-footer-group;
    vertical-align: middle;
    border-color: inherit;
    text-align:justify;
    font-size: 8pt;
}
.dotted_table {
    empty-cells: show;
    border-style: dotted dotted dotted dotted;
    font-family: Helvetica,sans-serif;
    display: table;
border-collapse: separate;
border-spacing: 2px;
border-color: gray;
}
.table_thumbnail {
    padding-top: 25px;
    border-top: 1px solid;
    min-height: 90px;
    padding-bottom: 25px;
}
.td_thumbnail {
    vertical-align: top;
    
}
.td_label_caption {
    text-align: justify;
    vertical-align: top;    
}
.thumbnail{
    width: 120px;
    max-height: 75px;
    vertical-align: top;
}

.label_caption {
    padding-top: 5px;
    vertical-align: top;
    padding-bottom: 5px;
    font-family: arial;
}
.caption {
    text-align: justify;
}
.label {
    font-weight: bold;
}

.inline-formula {
    display: inline;
    max-height: 16px;
    min-height: 16px;
}
.inline-formula-graphic {
    display: inline;
    max-height: 16px;
    min-height: 16px;
}

.disp-formula {
    display: block;
    vertical-align: top;
    text-align: center;
}
.disp-formula .label {
    padding: 10px;
    display: inline;
    vertical-align: top;
}
.disp-formula .formula {
    padding: 10px;
    text-align: center;
}
.disp-formula .formula-labeled {
    padding: 10px;
    max-width: 80%;
}
.disp-formula-graphic {
    padding: 25px;
    height: auto;
    max-width: 80%;
    min-height: 16px;
}
.graphic {
    padding: 25px;
    height: auto;
    min-height: 16px;
    max-width: 100%;
}

.inline-graphic {
    display: inline;
    min-height: 20px;
    max-width: 80%;
}
.inline-graphic-limited {
    display: inline;
    min-height: 20px;
    max-height: 60px;
    max-width: 80%;
}
.inline-graphic-more-limited {
    display: inline;
    min-height: 20px;
    max-height: 20px;
    max-width: 80%;

}
.figure-group, .table-wrap-group {
    max-width: 100%;
    height: auto;
    width: auto;
    border-color: transparent;
    padding-top: 15px;
    padding-bottom: 15px;
}

.figure {
    max-width: 100%;
    height: auto;
    width: auto;
    border-color: transparent;
    padding-top: 5px;
    padding-bottom: 5px;
}

.table-wrap {
    max-width: 100%;
    height: auto;
    width: auto;
    border-color: transparent;
    padding-top: 5px;
    padding-bottom: 5px;
}

#article-footer {
    display: none;
}
    
.foot-notes {
    padding-top: 20px;
}
.footnote {
    border-top: 1px solid;
    padding-top: 10px;
    vertical-align: top;
    padding-bottom: 10px;
    font-size: 90%;
    
}

.fn-author {}

.corresp {}

.sig-block {
    text-align: right;
    padding-top: 5%; 
}
.autores{
    margin-bottom: 25px;
    font-size: 97%;
}
.author{
    font-weight: bold;
}
.aff {
    margin: 0;
}
.sub-article {
    border-top: 1px double #CCC ;
    padding-top: 5%;
    padding-bottom: 5%;
    }
.ack {
    padding-top: 2%;
    padding-bottom: 1%;
}
.boxed-text {
    padding: 25px;
    border: 2px solid black;
    margin: 25px;
}
.article-license P, .article-license A, .article-license  SPAN{
    text-align: left;
    font-size: 8pt;
    color: black
}
.fn-block {
    margin-left: 10px;
}
.fn {
    margin-top: 20px;
}
/*
.product {
    font-family: Book Antiqua;
    font-size: 10pt;
    padding: 10px 10px 10px 10px;
    margin: 5px 5px 5px 5px;
    background-color: #DADFE5;
    width:60%;
 }
*/
.product {
    margin: 5px 5px 5px 5px;
    padding: 15px 15px 15px 15px;
    background-color: #DADFE5;
    width:60%;
    height: 100%;
 }

.product-text {
    font-family: Book Antiqua;
    font-size: 10pt;
    background-color: #DADFE5;
}

.product-graphic {
    height: 80%;
    width: 10%;
    float: left;
    padding-right: 30px;
    background-color: #DADFE5;
}

.bloco {
    margin-top: 40px
}