#topBar {
	border-bottom : 1px solid Black;
}

A {
	font-size: 16px;
	color: black;
	text-decoration : none;
}

A:hover{
	font-size: 16px;
	color: #D2691E;
	text-decoration : none;
}

INPUT{
	border: 1px solid black;
}

A.buttom{
	font-size: 16px;
	color: gray;
	text-decoration : none;	
	font-family: Arial, Helvetica, sans-serif;		
}

#output INPUT{
	border: 0px solid red;	
}

#header {
	border-bottom:  1px solid #999999;		
	font-family: Arial, Helvetica, sans-serif;	
	font-size: 20px;
	color: white;
	background-color: #CCCCCC;
	margin: 0px;
	padding: 5px;
	font-weight : bold;	
}

#header A{
	color: white;
}

#header A:hover{
	color: #D2691E;	
}

#header #title{
	display: inline;
	width: 70%;
	font-weight: normal;
}

#header #language{
	font-size: 14px;
	text-align: right;
	display: inline;	
	width: 30%;	
}

#main_group {
	margin-left: 10px;
	margin-right: 10px;		
	border: 1px solid #999999;
	height : 100%;	
}

#left{
	margin-left: 10px;
	margin-right: 10px;		
}

#right{
	margin-right: 10px;	
}

#group{
	border: 1px solid #999999;
	margin-top: 10px;
	margin-bottom: 10px;
	height : 100%;
}

#output{

	}
#group_title{
	border-bottom: 1px solid #999999;
	background-color: #F2F2F2;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	padding: 5px;
	color: #666666;
	font-weight : bold;
}

#group_content{
	font-family: Arial, Helvetica, sans-serif;
	padding: 5px;	
}

#menu_item{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;	
	padding: 5px;
	width: 100%;
}