#!/bin/bash
# ------------------------------------------------------------------------- #
# variaveis com caminho para bases de dados utilizadas no processmento.
# ------------------------------------------------------------------------- #
export scielo_dir="/home/scielo/www"
export scielo_proc="/home/scielo/www/proc"
export database_dir="$scielo_dir/bases"
export cisis_dir="$scielo_dir/proc/cisis"
# ------------------------------------------------------------------------- #


