.textfound {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 12px;
 color : Black;
 text-decoration: line-through;
}
.text {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 12px;
 color : Black;
}
.texttt {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 14px;
 color : Black;
 background-color : #CCCCCC;
}
.textbl {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 10px;
 color : Black;
 font-weight : bold;
}
.textblbl {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 16px;
 color : Black;
 font-weight : bold;
}

.link {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 12px;
 color : Black;

}
.link:active {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 10px;
 color : Black;
}
.link:hover {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 10px;
 color : Black;
 background-color : Gray;
}
.link:link {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 10px;
 color : Black;
}
.link:visited {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 10px;
 color : Black;
}


.link2 {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 13px;
text-decoration: none;
 color : Black;

}
.link2:active {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 13px;
text-decoration: none;
 color : Black;
}
.link2:hover {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 13px;
color : Black;
text-decoration: none; 
background-color : Gray;
}
.link2:link {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 13px;
text-decoration: none;
 color : Black;
}
.link2:visited {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 13px;
text-decoration: none;
 color : Black;
}

