/* 
	This file describes general styles all over the site,
	like "top banner", "footer", and general styles about the component boxes.
*/

/* Page Body Styles */

.webServices, .generic, .RSS, #about {
	border: 1px solid #DEDEDE;
	background: #FCFCFC;
	background: #F4F4F4 url(../../../image/public/skins/classic/common/componentBg2.jpg) repeat-x;
	padding-bottom: 0px !important;
}

.webServices DIV, .generic DIV, .RSS DIV, #about DIV {
	padding: 4px;
	margin-bottom: 0px !important;
}

.webServices H3, .generic H3, .RSS H3, #about H3 {
	border-color: #E5E4AC;
}

.webServices H3 SPAN, .generic H3 SPAN, .RSS H3 SPAN, #about H3 SPAN {
	border-color: #CCCA25;
}

.webServices UL, .generic UL, .RSS UL, #about UL {
	margin-bottom: 0px !important;
}

.webServices LI, .generic LI, .RSS LI, #about LI {
	list-style: none;
	margin-bottom: 10px;
}

.webServices LI A, .generic LI A, .RSS LI A, #about LI A {
	text-decoration: none;
	font-weight: normal;
}

.webServices LI A:hover, .generic LI A:hover, .RSS LI A:hover, #about LI A:hover {
	text-decoration: underline;
}

/*
.firstColumn .generic, .thirdColumn .webServices {
	border: none;
}
*/

.level2 .webServices DIV {
	margin: 0px !important;
	padding: 0px !important;
}

.level2 .webServices DIV UL {
	margin: 12px !important;
	padding: 0px !important;
}

.bottom, .level2 #footNotes {
	text-align: center;
	border-top: 1px solid #900;
}

.level2 #footNotes {
	padding-top: 20px;
}

.bottom #footNotes, .level2 #footNotes {
	font-size: 85%;
}

.bottom #footNotes, .bottom #footNotes A {

}


/* Cascading definitions #Start */
.firstColumn DIV, .secondColumn .centerLeftColumn DIV, .secondColumn .centerRightColumn DIV, .thirdColumn DIV, .level2 .middle DIV {
	
}

.expression {
	background: white;
	border: 1px solid #999;
}

.firstColumn DIV H3, .secondColumn DIV H3, .thirdColumn DIV H3, #search H3, #searchConcepts H3, .level2 .middle DIV H3 {
	color: #990000;
}


.firstColumn DIV H3 SPAN, .secondColumn DIV H3 SPAN, .thirdColumn DIV H3 SPAN, #search H3 SPAN, #searchConcepts H3 SPAN, .level2 .middle .webServices H3 SPAN, .level2 .middle .content H3 SPAN, .level2 .middle .RSS H3 SPAN, .level2 .middle #about H3 SPAN {
	padding-left: 15px;
	background: url(../../../image/public/skins/classic/common/bullet_red.gif) 0px 4px no-repeat;
	font-size: 80%;
}

.level2 .middle .content H3 {
	width: 75%;
}

html>body .firstColumn DIV H3 SPAN, html>body .secondColumn DIV H3 SPAN, html>body .thirdColumn DIV H3 SPAN, html>body #search H3 SPAN, html>body #searchConcepts H3 SPAN, html>body .level2 .middle DIV H3 SPAN, html>body .level2 .middle .webServices H3 SPAN , html>body .level2 .middle .content H3 SPAN, html>body .level2 .middle #about H3 SPAN {
	font-size: 90%;
}

.level2 .middle DIV H3 SPAN.lengthData {
	background: none !important;
	padding-left: 0px;
}

.pagination {
	margin-left: 20px;
}

H3 SPAN A {
	color: #990000;
}

.level2 H4 {
	border-bottom: 1px solid #999;
	width: 90%;
}

.level2 H5 {
	margin: 0px 0px 0px 30px;
	color: #555;
}

.level2 .content UL {
	margin-top: 0px
}

.register {
	margin-left: 20px;
}

.register TD {
	vertical-align: top;
}

.register .label {
	text-align: right;
	padding-top: 5px;
}

/* Cascading definitions #End */


/* Second pages Styles */
.level2 .middle #contact A {
	background: none;
}

.level2 #search UL LI {
	list-style: none;
}

.level2 #search LI {
	font-weight: bold;
	list-style: none;
}

.level2 #search LI LI {
	font-weight: normal;
}

.level2 .content LI {
	list-style: none !important;
	margin-bottom: 15px !important;
}

.level2 .content LI A {
	text-decoration: none;
}

.level2 .content LI A:hover {
	text-decoration: underline;
}

/* MetaIAH Pop-up styles */
#popUp {
	background: #ECF3F3 url(../../../image/public/skins/regional/common/topBackground.jpg) top left repeat-x;
}

#popUp TD {
	font-size: 80%;
}

.copyright {
	font-size: 75%;
}

/* General Styles */
.submit {
	background: url(../../../image/public/skins/classic/common/submitBg.gif) repeat-x;
	border: 1px solid #999;
	font-size: 90%;
	color: #000;
}

.collectionName {
	color: #999;
	font-size: 95%;
	margin-left: 5px;
}

.issn {
	font-size: 95%;
	color: #555;
}

.howToCite H5 {
	margin: 5px 0px 3px 0px;
	color: #900;
}

/* Form */

.form H4{
	border-bottom: 1px solid #999999;
}
.submitTrue {
	background: url(../../../image/public/skins/classic/common/submitTrueBg.gif) repeat-x;
	border: 1px solid #277211;
	font-size: 90%;
	color: #000;
}
.submitFalse {
	background: url(../../../image/public/skins/classic/common/submitFalseBg.gif) repeat-x;
	border: 1px solid #E4ABAB;
	font-size: 90%;
	color: #000;
}
.textEntry{
	font-size:95%;
	color: #555555;
}


/* classes for Collexis */

