MAX_QTY_DOC_PER_XML=100
USERNAME=bireme
PASSWORD=bireme303
EMAIL=roberta.takenaka@scielo.org


MX=/usr/local/bireme/cisis/5.5.pre02/linux/lindG4/mx
TEMP_PATH=/var/www/scielo_br/proc/temp/proc_doi_query/
DATA_PATH=/var/www/scielo_br/bases-work/doi_query
ARTIGO=/var/www/scielo_br/bases/artigo/artigo
NOTFOUND=/var/www/scielo_br/bases-work/doi_query/notfound

CIPFILE=$TEMP_PATH/query.cip
LOG_FILE=$DATA_PATH/doi_query.log
QUERYDB=$DATA_PATH/query
QUERYLOGDB=$DATA_PATH/querylog
RESULT_PATH=$DATA_PATH/results
RESULT_FILE=$RESULT_PATH/result.txt

JAR_PATH=/var/www/scielo_br/proc/proc_doi/query/crossref/

