# coding: utf-8
##################
# variáveis com caminho para bases de dados utilizadas no processmento.
##################
database_title="/var/www/scielo/bases/title/title"
database_article="/var/www/scielo/bases/artigo/artigo"
database_issue="/var/www/scielo/bases/issue/issue"
proc_path="/var/www/scielo/www/proc"
cisis="/var/www/scielo/proc/cisis"
doi_prefix="XX.XXXX"
domain="dev.scielo.br"
max_file_size=4000000
